<div ng-show="a">
	<div ng-repeat="comment in en.comments">
		<div ng-controller="hideEditCtrl as hide" ng-hide="hide.ctrl2">
			<div class="entry">
				<div class="entry-margin">
					<h5>{[{comment.opinion}]}</h5>
					<h4 class="text-right"><small>~~{[{comment.nick}]}, {[{comment.add_date | date:'medium'}]}</small></h4>
				</div>
			</div>
			<div ng-hide="comment.add_date == 'Now'">
				<h5 class="text-right" ng-show="comment.nick == nick || isAdmin" >
					<a ng-hide="hide.ctrl" ng-click="hide.ctrl=true">Edit / </a>
					<div ng-show="hide.ctrl">
						<a ng-click="hide.ctrl=false">Cancel editing</a>
						<form ng-controller="editComment as edit" ng-submit="edit.edit_comment(comment); hide.ctrl=false" id="entry-comment">
							<textarea class="form-control" rows="3" ng-model="comment.opinion"></textarea>
							<button type="submit" class="btn btn-default">Edit</button>
						</form>
					</div>
					<a ng-controller="delComment as del" ng-click="del.delete_comment(comment.id); hide.ctrl2=true">Delete</a>
				</h5>
			</div>
		</div>
	</div>
	<form ng-show="isLog" ng-controller="sendCtrl" ng-submit="send(opinion, en.comments, en.id)" id="entry-comment">
		<textarea class="form-control" rows="3" ng-model="opinion.opinion"></textarea>
		<button type="submit" class="btn btn-default">Send</button>
	</form>
</div>
